.img-responsive {
  min-height: 100px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.cover-image {
  width: 100%;
}

.recipe-desc {
  margin-bottom: 20px;
}

.list-group-item-heading {
  font-weight: bold;
  color: #337ab7;
}

.list-group-item {
  display: grid;
  grid-template-columns: 1fr 150px;
  min-height: 100px;
  max-height: max-content;
}
